.text-align-center, .text-align-center th {
    text-align: center;
}

.hide {
    display: none;
}

.login-div, .signup-div, .repo-div {
    margin: 3% auto 20px auto !important;
    width: 50%;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
 .center-margin {
     margin: 0 auto;
 }

 .custom-alert {
     margin: 0 auto 3% auto;
     width: 50%;
     padding: 10px;
     border-radius: 6px;
 }

 .bs-callout-warning {
     border-left-color: #f0ad4e;
     color: #aa6708;
 }

 .bs-callout-danger {
     border-left-color: #ce4844;
     color: #ce4844;
 }
.disable-color {
     background-color: #eee !important;
 }